// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.error-label {
  color: red;
  padding: 5px;
  font-size: 14px;
}